In [1]:
# Tratamiento de datos
# ==============================================================================
import pandas as pd
import numpy as np

In [14]:
data_weather = pd.ExcelFile('D:/Proyectos GitHub/Python/Datos/Datos Climaticos Viru Palto.xlsx')
df_weather = data_weather.parse('TABLA')  
data_weather.close()

In [15]:
df_weather = df_weather[(df_weather['Año'] >=  2019) & (df_weather['Año'] <=  2020)]

In [16]:
df_weather = df_weather[['Fecha','ET(mm).','Tº MIN/DIA (°C)','Tº MAX/DIA (°C)','Rad. Solar Prom.','HUMEDAD PROM.', 'T° Prom/Día (°C)']]
df_weather = df_weather.rename(columns = {'ET(mm).' : 'ET', 
                                      'Tº MIN/DIA (°C)' : 'T_MIN',
                                     'Tº MAX/DIA (°C)': 'T_MAX',
                                     'Rad. Solar Prom.' : 'RS_PROM',
                                     'HUMEDAD PROM.': 'HM_PROM',
                                      'T° Prom/Día (°C)': 'TMP_PROM'})

In [17]:
df_weather

          Fecha   ET  T_MIN  T_MAX  RS_PROM  HM_PROM   TMP_PROM
1096 2019-01-01  4.0   19.0   26.4    242.9     85.0  22.540000
1097 2019-01-02  4.2   19.1   26.8    256.5     86.0  22.530000
1098 2019-01-03  3.2   20.4   27.4    187.1     86.0  22.870000
1099 2019-01-04  4.3   18.6   28.2    257.4     84.0  23.264583
1100 2019-01-05  3.6   20.8   27.4    211.0     83.0  23.479167
...         ...  ...    ...    ...      ...      ...        ...
1817 2020-12-22  4.1   17.4   25.4    258.8     82.0  18.325000
1818 2020-12-23  3.2   17.1   25.0    200.3     81.0  18.297917
1819 2020-12-24  4.0   15.7   25.2    258.2     82.0  17.981250
1820 2020-12-25  2.1   17.6   24.9    127.3     82.0  18.408333
1821 2020-12-26  4.0   16.0   25.6    246.5     83.0  18.650000

[726 rows x 7 columns]